monai==1.2.0
numpy==1.25.0
matplotlib==3.7.1
pandas==2.0.2
pydicom==2.4.1
torch==2.0.1
pillow==9.5.0
python-gdcm==3.0.22
pylibjpeg==1.4.0
pylibjpeg-libjpeg==1.3.4
pylibjpeg-openjpeg==1.3.2
pylibjpeg-rle==1.3.0
streamlit
itk
plotly
statsmodels
pingouin
scipy
